@import url("https://use.typekit.net/xcu8hxh.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: black;
  background: white;
}
